ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;

	li {
		padding: 1em;
		display: flex;
		flex-direction: column;
		@media screen and (max-width: 600px) {
			margin-left: auto;
			margin-right: auto;
		}
	}
}
